.create-task-container {
  border: 1px solid black;
  width: 300px;
}

.create-task-container input,
.create-task-container textarea,
.create-task-container select {
  display: block;
}

.create-task-container button {
  margin: 10px;
}