.create-task-container {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-task-container input,
.create-task-container textarea,
.create-task-container select {
  display: block;
}

.create-task-container button {
  margin: 10px;
}